mixin menu(items)
	.menu
		.menu__mobile.js-menu Меню
		.menu__list
			a(href="#about-us" title="").menu__item О компании
			a(href="#offers" title="").menu__item Услуги
			a(href="#news" title="").menu__item Новости
			a(href="#footer" title="").menu__item Контакты
			a(href="" title="").menu__item Коммерческое предложение
