mixin footer(data)
	footer.footer#footer
		.footer__wrapper
			.footer-contacts
				.footer-contacts__title Контакты
				.footer-contacts__info
					.footer-contacts-column._address
						.footer-contacts-column__title Адрес
						.footer-contacts-column__address Ташкент, ул. Аэродромная, д.120
					.footer-contacts-column._phone
						.footer-contacts-column__title Телефон для справок:
						.footer-contacts-column__phone +998977753506
					.footer-contacts-column._social
						.footer-contacts-column__title Мы в социальных сетях:
						.footer-contacts-column-social
							a(href="#" title="" target="_blank").footer-contacts-column-social__item._fb
							a(href="#" title="" target="_blank").footer-contacts-column-social__item._instagram


