mixin offer-item(data)
	.offer-item
		.offer-item__image
			img(src="%=static=%images/content/offer1.jpg" alt="")
		.offer-item__bg
		.offer-item-content
			.offer-item-content__title Автозапчасти
			.offer-item-content__text Детали ходовой части (амортизаторы, рычаги, сайлентблоки и т.п.) ...
			.offer-item-content__button-wrapper
				.offer-item-content__button._orange Узнать больше