mixin about-us(data)
	.about-us#about-us
		.about-us__wrapper
			.about-us__title Немного о компании
			.about-us-info
				.about-us-info__column
					p Автосервис AKKURAT AVTO занимает достойное место в рейтинге Ташкентских Автосервисов и предоставляет высококачественный сервис, отвечающий всем международным техническим требованиям производителей автомобилей.
					p На сегодняшний день автосервис AKKURAT AVTO одна из немногих организаций, выполняющих диагностические и ремонтные мероприятия в двигателях, включая обслуживание топливных насосов высокого давления, оснащенных электронной системой управления. Наш автосервис выполнят широкий спектр работ в соответствии со всеми требованиями и пожеланиями завода-производителя.
				.about-us-info__column
					p Это такие работы:
					ul
						li ТО в соответствии с регламентом;
						li Ремонт двигателей
						li Ремонт механических коробок передач;
						li Диагностические и ремонтные мероприятия в бензиновых двигательных системах, в том числе сложнейшие ремонтные операции, связанные с электрооборудованием;
						li Диагностика системы тормозов, амортизации, развал-схождение на стенде «Hofmann».
						li Очистка инжекторных систем подачи топлива;
						li Тестирование и регуляция геометрии подвески;
						li Монтаж электронных либо аналоговых охранных приспособлений, комплектов защиты картерадвигательного устройства, аудио комплектов, системы подогрева сидений и прочего;
						li Выполнение балансировки колес и шиномонтажных мероприятий на оборудовании «Hofmann».
