mixin news(data)
	.news#news
		.news__wrapper
			.news__title._top Последние новости
			.news-list
				.news-list__column
					+news-item
				.news-list__column
					+news-item
				.news-list__column
					+news-item
		