mixin header(data)
	header.header
		.header__wrapper
			+menu
			.header-bottom
				.header-column._phone
					.header-column__phone +998 (97) 775 35 06
				.header__logo Akkurat.uz
				.header-column._address
					.header-column__address Ташкент,<br> ул. Аэродромная, д.120

					

