.header {
	background: url(%=static=%general/car-bg.jpg) 50% 0 no-repeat;
	background-size: cover;
	height: 1056px;
	@media screen and(max-width: 960px) {
		height: 773px;
	}	
	@media screen and(max-width: 768px) {
		height: auto;
		background: 0 0;
		border-bottom: 1px solid #edecec;
		padding-bottom: 18px;
	}
	&__wrapper {
		@extend .wrapper;
	}
	&__logo {
		@include bg($logo);
		text-indent: -9999px;
		@media screen and(max-width: 768px) {
			margin-right: auto;
			margin-left: auto;
		}	
	}	
}
.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	@media screen and(max-width: 960px)	{ 
		margin-top: 15px;
		padding-right: 10px;
		padding-left: 10px;
	}			
	@media screen and(max-width: 768px)	{ 
		padding-right: 0;
		padding-left: 0;
	}	
}
.header-column {
	position: relative;
	box-sizing: border-box;
	@media screen and(max-width: 768px) {
		display: none;
	}		
	&._phone {
		max-width: 200px;
		width: 100%;
		font-size: rem-calc(15);
		&:before {
			@include bg($phone);
			position: absolute;
			top: 0;
			left: 0;
			content: '';
		}			
	}
	&._address {
		max-width: 212px;
		width: 100%;
		font-size: rem-calc(14);
		text-align: right;
		color: #b2aeaf;
		&:after {
			@include bg($label);
			position: absolute;
			top: 0;
			right: 0;
			content: '';
		}				
	}
	&__phone {
		padding-left: 57px;
		line-height: rem-calc(40);
	}
	&__address {
		padding-right: 53px	;
	}	
}