mixin news-item(data)
	.news-item
		.news-item-date
			.news-item-date__number 01
			.news-item-date__month-year 02.2015
		.news-item-content
			.news-item-content__text
				|Наши цены формируются из четкого регламента нашей фирмы. Мы работаем по принципу прозрачности
			a(href="#" title="").news-item-content__details Подробнее
