mixin offers(data)
	.offers#offers
		.offers__wrapper
			.offers-bordered-title._bottom
				.offers-bordered-title__big Мы предлагаем
				.offers-bordered-title__small Основные услуги компании
			.offers-list
				.offers-list__column
					+offer-item
				.offers-list__column
					+offer-item
				.offers-list__column
					+offer-item
			.offers__bottom
				.offers__button._brown Смотреть все
